@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Barcode 128 Text", monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 5px solid #000;
  z-index: 5;
}

div.bio {
  width: 80%;
}
div.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
div.bio p {
  font-family: monospace, sans-serif;
  text-align: center;
  font-weight: 600;
}
a {
  border: 5px solid black;
  padding: 1rem;
  font-size: 2rem;
  font-family: monospace, sans-serif;
  border-radius: 10px;
  color: #000000;
  width: 80%;
  text-align: center;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 15% center;
}
a.soundcloud {
  background-image: url(./imgs/soundcloud.svg);
  background-color: #FE5000;
}
a.youtube {
  background-image: url(./imgs/youtube.svg);
  background-color: #FF0000;
}
a.instagram {
  background-image: url(./imgs/instagram.svg);
  background-color: #833AB4;
}
h1 {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 350px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .container {
    width: 100%;
  }
  a {
    background-position: 5% center;
  }
}


@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .container {
    width: 80%;
  }

  a {
    background-position: 15% center;
  }
}



/* PARTICLE JS STYLING */

 /* ---- particles.js container ---- */
 #particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #d41d2a;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
} 
.js-count-particles {
  font-size: 1.1em;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

canvas.particles-js-canvas-el {
  display: block !important;
}

canvas {
  display: none !important;
}